@import "tailwindcss";

@tailwind utilities;

@theme {
  --color-primary: #1E5EFF;
  --color-primary-500: #1e2753;
  --color-primary-800: #070b1d;
  --color-success: #c4f8e2;
}


@layer components {
  .card {
    @apply bg-white rounded-md shadow-sm p-4 transition hover:shadow-md;
  }
}


:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
